.mat-toolbar--primary{
  background-color: #4e54c8;
}

.title {

}

.buttons {
  margin-left: 77%;
}

.userName-button{
  margin-left: 65%;
  padding-right: 15%;
}

.logged-in-buttons {
  background-color: white;
  margin-bottom: 3px;
  padding-right: 30px;
  text-align: center;
  width: 200px;
}


