<!--<mat-card >
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="loginSubmit(signInForm)" #signInForm="ngForm">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>Sign in</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>-->

<div fxLayout="column" fxLayoutAlign="center center" id="login-form" class="container" *ngIf="authenticationService.isUserLoggedIn">
  <mat-card class="login-mat-card">

    <mat-card-title style="margin-bottom: 10px;">Login</mat-card-title>
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" >
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">

        <mat-form-field>
          <mat-label>
            Email
          </mat-label>
          <input matInput #email="ngModel" name="email" ngModel required/>
        </mat-form-field>

        <br>

        <mat-form-field fxFlex="column" fxFlexAlign="start start">
          <mat-label>
            Password
          </mat-label>
          <input  matInput #password="ngModel" name="password" ngModel required [type] = "hide ? 'password':'text'" minlength="3" maxlength="25"/>
          <i class = "material-icons" matSuffix (click) = "hide = !hide">
            {{hide ? 'visibility':'visibility_off'}}
          </i>
          <mat-error *ngIf="password.errors?.['minlength']"> Password must be at least 4 characters long.</mat-error>
          <mat-error *ngIf="password.errors?.['maxLength']"> Password must be at most 25 characters long.</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions style="margin-left: 3px">
        <button mat-raised-button class="button--primary" type="submit"> Login</button>
        <button mat-raised-button class="button--primary" (click) = "registerClick()" type="button"> Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

