<div fxLayout="column" fxLayoutAlign="center center" id="register-form">
  <mat-card id="register-mat-card">

    <mat-card-title>Register</mat-card-title>
    <form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm)">
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            Email
          </mat-label>
            <input type="email" matInput #email="ngModel" name="email" ngModel email required/>
          <mat-error *ngIf="email.errors?.['email']"> Your e-mail must contain an address.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>
            Password
          </mat-label>
          <input matInput #password="ngModel" name="password" ngModel required [type]="hide ? 'password':'text'"
                 minlength="3" maxlength="25"/>
          <i class="material-icons" matSuffix (click)="hide = !hide">
            {{hide ? 'visibility' : 'visibility_off'}}
          </i>
          <mat-error *ngIf="password.errors?.['minlength']"> Password must be at least 3 characters long.</mat-error>
          <mat-error *ngIf="password.errors?.['maxLength']"> Password must be at most 25 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            University
          </mat-label>
          <input matInput #university="ngModel" name="university" ngModel required minLength="5" maxlength="50"/>
          <mat-error *ngIf="university.errors?.['minlength']"> University's name must be at least 5 characters long.
          </mat-error>
          <mat-error *ngIf="university.errors?.['maxLength']"> University's name must be at most 50 characters long.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Faculty
          </mat-label>
          <input matInput #faculty="ngModel" name="faculty" ngModel required minlength="5" maxlength="50"/>
          <mat-error *ngIf="faculty.errors?.['minlength']"> Faculty's name must be at least 5 characters long.
          </mat-error>
          <mat-error *ngIf="faculty.errors?.['maxLength']"> Faculty's name must be at most 50 characters long.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            First Name
          </mat-label>
          <input matInput #firstName="ngModel" name="firstName" ngModel required minlength="2" maxlength="15"/>
          <mat-error *ngIf="firstName.errors?.['minlength']"> First name must be at least 2 characters long.</mat-error>
          <mat-error *ngIf="firstName.errors?.['maxLength']"> First name must be at most 15 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Last Name
          </mat-label>
          <input matInput #lastName="ngModel" name="lastName" ngModel required minlength="2" maxlength="20"/>
          <mat-error *ngIf="lastName.errors?.['minlength']"> Last name must be at least 2 characters long.</mat-error>
          <mat-error *ngIf="lastName.errors?.['maxLength']"> Last name must be at most 20 characters long.</mat-error>
        </mat-form-field>
        <div style="width: 100%">
          <input type="file" class="file-input"
                 (change)="onFileSelected($event)" #fileUpload/>

          <div class="file-upload">

            {{fileName || "Upload a profile picture."}}

            <span mat-mini-fab style=" border-radius: 50%;padding: 10px"
                  (click)="fileUpload.click()">
              <mat-icon class="mat-icon-class">attach_file</mat-icon>
            </span>
          </div>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <!--      butoane-->
        <button mat-raised-button class="button--primary" type="submit"> Register</button>
        <button mat-raised-button class="button--primary" (click)="close()" type="button"> Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
